*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.footer-left img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(213, 213, 213);
}
.card{
    width: 300px;
    height: 450px;
    border: 1px solid grey;
}

.card-img{
    height: 250px;
    background-image: url(1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.img-text{
    position: absolute;
    color: white;
    bottom: 20px;
    left: 20px;
    display: flex;
    align-items: center;
}
.card-text{
    height: 120px;
}
.card-footer{
    height: 80px;
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: space-between;
}

.footer-left{
    display: flex;
    align-items: center;
}
.card-text{
    padding: 15px;
}