*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(213, 213, 213);
}

.card{
    width: 300px;
    height: 400px;
    box-shadow: 0 0 5px black;
}

.card-img{
    position: relative;
    height: 230px;
    background-image: url(1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card-text{
    height: 170px;
    padding: 20px;
    background-color: white;
}

.card-footer{
    display: flex;
    align-items: center;
    margin-top: 45px;
}

.card-footer p{
    margin-left: 5px;
    color: grey;
}

.fa-comments{
    margin-left: 10px;
}

.card-text h3{
    margin-top: 10px;
    color: red;
}

.circle{
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* 
    
        top
        right
        bottom
        left
    */
}


.btn{
    width: 100px;
    height: 40px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
}
.btn p{
    text-transform: uppercase;
    color: white;
}